{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}




{% block navbar-left %}
    {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block scripts %}
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="http://techanjs.org/techan.min.js"></script>

<script>


var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");
var x = d3.scaleTime().rangeRound([0, width]);
var y = d3.scaleLinear().rangeRound([height, 0]);

var area = d3.area()
    .x(function(d) { return x(parseDate(d.created_at)); })
    .y(function(d) { return y(d.ask); });

var line = d3.line()
    .x(function(d) { return x(parseDate(d.created_at)); })
    .y(function(d) { return y(d.ask); });

function updateGraph(){
    svg = d3.select("svg").selectAll("*").remove();
    var hours = $("#selTimeFrame").val();
    d3.json("/api/prices/1/?hours=" + hours, dataHandler);
}

function dataHandler(error, data){
    if (error) throw error;
    svg = d3.select("svg");
    margin = {top: 20, right: 20, bottom: 30, left: 50};
    width = +svg.attr("width") - margin.left - margin.right;
    height = +svg.attr("height") - margin.top - margin.bottom;
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    x.domain([parseDate(data[0].created_at), parseDate(data[data.length - 1].created_at)]);

    var x_max = d3.max(data, function (d) { return d.ask; });
    var x_min = d3.min(data, function (d) { return d.ask; });

    var delta = x_max - x_min;
    y.domain([x_min - delta, x_max + delta]);
    area.y0(y(0));
    g.append("path")
            .datum(data)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 1.5)
            .attr("d", line);

    g.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

    g.append("g")
            .call(d3.axisLeft(y))
            .append("text")
            .attr("fill", "#000")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "0.71em")
            .attr("text-anchor", "end")
            .text("Price (JPN)");

}

d3.json("/api/prices/1/?hours=4", dataHandler);


</script>
{% endblock scripts %}

{% block styles %}
<style>

    body {
        font: 10px sans-serif;
    }

    text {
        fill: #000;
    }

    button {
        position: absolute;
        right: 20px;
        top: 440px;
        display: none;
    }

    .rsi path {
        fill: none;
        stroke-width: 1;
    }

    .rsi {
        stroke: #000000;
    }

    .rsi path.overbought, .rsi path.oversold {
        stroke: #FF9999;
        stroke-dasharray: 5, 5;
    }

    .rsi path.middle, path.zero {
        stroke: #BBBBBB;
        stroke-dasharray: 5, 5;
    }

path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

</style>
{% endblock styles %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-12 text-center">
        <h1>CoinCheck Exchange</h1>
        <p class="lead">Check real data</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
        <div>
            <label>Select time frame:</label>
            <select id="selTimeFrame" onchange="updateGraph()">
                <option value="1">Last Hour</option>
                <option value="4" selected>Last 4 Hours</option>
                <option value="12">Last 12 Hours</option>
                <option value="24">Last Day</option>
                <option value="96">Last 4 Days</option>
                <option value="168">Last Week</option>
                <option value="650">Last Month</option>
                <option value="2000">Last 3 Months</option>
            </select>
        </div>

      <div id="graph" class="col-md-12 text-center" style="width: 1000px; height: 600px">
          <svg width="960" height="500"></svg>
      </div>
    </div>
  </div>
</div>

<div id="sec3">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>
{% endblock container %}


